@mixin clearfix {
    &:before,
    &:after { content: " "; display: table; }
    &:after { clear: both; }
}

@mixin container( $value ) {
    max-width: $value;
    margin: 0 auto;
}

@mixin box-sizing ( $value ) {
    -webkit-box-sizing: $value;
    -moz-box-sizing: $value;
    box-sizing: $value;
}

@function em( $size, $context: 16 ) {
    @return ( $size / $context ) * 1em;
}